Pandas Descriptive Statistics

In [ ]:
import pandas as pd
import numpy as np

#Create a Dictionary of series
d = {
  'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack','Lee','David','Gasper','Betina','Andres']),
  'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
  'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}

#Create a DataFrame
df = pd.DataFrame(d)
print(df,'\n')

# Using .sum() (default axis=0)
print(df.sum(),'\n')

# Using .sum() (axis=1)
print(df.sum(1))

      Name  Age  Rating
0      Tom   25    4.23
1    James   26    3.24
2    Ricky   25    3.98
3      Vin   23    2.56
4    Steve   30    3.20
5    Smith   29    4.60
6     Jack   23    3.80
7      Lee   34    3.78
8    David   40    2.98
9   Gasper   30    4.80
10  Betina   51    4.10
11  Andres   46    3.65

Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Age                                                     382
Rating                                                44.92
dtype: object

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [ ]:
# Mean
print(df.mean(),'\n')

# Standard deviation
print(df.std(),'\n')

# Describing the data
print(df.describe(),'\n')

# Describing objects
print(df.describe(include=['object']),'\n')

# Describing all data
print(df.describe(include='all'))

Age       31.833333
Rating     3.743333
dtype: float64

Age       9.232682
Rating    0.661628
dtype: float64

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

         Name
count      12
unique     12
top     James
freq        1

         Name        Age     Rating
count      12  12.000000  12.000000
unique     12        NaN        NaN
top     James        NaN        NaN
freq        1        NaN        NaN
mean      NaN  31.833333   3.743333
std       NaN   9.232682   0.661628
min       NaN  23.000000   2.560000
25%       NaN  25.000000   3.230000
50%       NaN  29.500000   3.790000
75%       NaN  35.500000   4.132500
max       NaN  51.000000   4.800000

In [ ]:
cart = {
    'Product': ['Mobile', 'AC', 'Mobile', 'Sofa', 'Laptop'],
		'Price': [20000, 28000, 22000, 19000, 45000],
		'Year': [2014, 2015, 2016, 2017, 2018]
		}
df = pd.DataFrame(cart, columns = ['Product', 'Price', 'Year'])

# Original DataFrame
print("Original DataFrame:\n", df)

# Describing descriptive statistics of Price
print("\nDescriptive statistics of Price:\n")
stats = df['Price'].describe()
print(stats)

Original DataFrame:
   Product  Price  Year
0  Mobile  20000  2014
1      AC  28000  2015
2  Mobile  22000  2016
3    Sofa  19000  2017
4  Laptop  45000  2018

Descriptive statistics of Price:

count        5.000000
mean     26800.000000
std      10756.393448
min      19000.000000
25%      20000.000000
50%      22000.000000
75%      28000.000000
max      45000.000000
Name: Price, dtype: float64

In [ ]:
# Print Count of Price
print("Count of Price:")
counts = df['Price'].count()
print(counts)

# Print mean of Price
print("\nMean of Price:")
m = df['Price'].mean()
print(m)

# Print maximum value of Price
print("\nMaximum value of Price:")
mx = df['Price'].max()
print(m)

# Print standard deviation of Price
print("\nStandard deviation of Price:")
sd = df['Price'].std()
print(sd)

Count of Price:
5

Mean of Price:
26800.0

Maximum value of Price:
26800.0

Standard deviation of Price:
10756.393447619885

Pandas Data Filtering

In [ ]:
dupli={
    'Name' :['a','s','d','e','gh','j','kk','gh','e','gh','a'],
    'Eng' : [33,35,36,37,38,39,40,38,37,38,33],
    'Maths':[56,66,33,86,96,33,11,96,86,96,56],
    'Sci':[77,79,81,83,33,87,89,33,83,33,77]
}

df=pd.DataFrame(dupli)
print(df.head(),'\n')

# Finding total
df['Total']=df.sum(1)
print(df.head(),'\n')

# Finding total greater than 170
print(df.loc[df['Total']<170],'\n')

  Name  Eng  Maths  Sci
0    a   33     56   77
1    s   35     66   79
2    d   36     33   81
3    e   37     86   83
4   gh   38     96   33

  Name  Eng  Maths  Sci  Total
0    a   33     56   77    166
1    s   35     66   79    180
2    d   36     33   81    150
3    e   37     86   83    206
4   gh   38     96   33    167

   Name  Eng  Maths  Sci  Total
0     a   33     56   77    166
2     d   36     33   81    150
4    gh   38     96   33    167
5     j   39     33   87    159
6    kk   40     11   89    140
7    gh   38     96   33    167
9    gh   38     96   33    167
10    a   33     56   77    166

In [ ]:
# Applying AND condition
print(df.loc[(df['Eng']> 38) & (df['Maths']<50)],'\n')

# Applying OR condition
print(df.loc[(df['Eng']> 38) | (df['Maths']<50)],'\n')

# String - containts, startswith, endswith
print(df.loc[df['Name'].str.contains("j")],'\n')
print(df.loc[df['Name'].str.startswith("k")],'\n')
print(df.loc[df['Name'].str.endswith("h")])

  Name  Eng  Maths  Sci  Total
5    j   39     33   87    159
6   kk   40     11   89    140

  Name  Eng  Maths  Sci  Total
2    d   36     33   81    150
5    j   39     33   87    159
6   kk   40     11   89    140

  Name  Eng  Maths  Sci  Total
5    j   39     33   87    159

  Name  Eng  Maths  Sci  Total
6   kk   40     11   89    140

  Name  Eng  Maths  Sci  Total
4   gh   38     96   33    167
7   gh   38     96   33    167
9   gh   38     96   33    167