Functions Applications and Lambda Examples

In [ ]:
import pandas as pd
import numpy as np

def adder(ele1,ele2):
  return ele1+ele2

df = pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4],'col3':[2,5,3,4]})
print(df)

# Using pipe()
print("\nPrinting the results of pipe and adding 10")
print(df.pipe(adder,10),'\n')

# Using apply()
print("Mean using apply\n")
print(df.apply(np.mean))

   col1  col2  col3
0     2     1     2
1     1     3     5
2     1     2     3
3     1     4     4

Printing the results of pipe and adding 10
   col1  col2  col3
0    12    11    12
1    11    13    15
2    11    12    13
3    11    14    14

Mean using apply

col1    1.25
col2    2.50
col3    3.50
dtype: float64

In [ ]:
# Using apply
print("Mean using apply across row values")
print(df.apply(np.mean,axis=1))

# Using map function and lambda
print("\nUsing Lambda function")
print(df['col1'].map(lambda x:x*100))

Mean using apply across row values
0    1.666667
1    3.000000
2    2.000000
3    3.000000
dtype: float64

Using Lambda function
0    200
1    100
2    100
3    100
Name: col1, dtype: int64

In [ ]:
df=pd.DataFrame({'id':[1,2,3,4,5],'name':['abc','defg','ghs','eeee','wwww'],'age':[11,22,33,44,55], 'income':[9999,8888,7777,6666,5555]})
print(df)

df['age']=df.apply(lambda x: x['age']+3, axis=1)
print("\nIncrementing age")
print(df)

df['income']=list(map(lambda x: int(x+x*0.2), df['income']))
print("\nIncrementing income")
print(df)

df['category']=df['age'].apply(lambda x: 'Adult' if x>=18 else 'Child')
print("\nAdding a new column")
print(df)

eligible=list(filter(lambda x:x>18, df['age']))
print("\nApplying an eligibility criteria")
print(eligible)

   id  name  age  income
0   1   abc   11    9999
1   2  defg   22    8888
2   3   ghs   33    7777
3   4  eeee   44    6666
4   5  wwww   55    5555

Incrementing age
   id  name  age  income
0   1   abc   14    9999
1   2  defg   25    8888
2   3   ghs   36    7777
3   4  eeee   47    6666
4   5  wwww   58    5555

Incrementing income
   id  name  age  income
0   1   abc   14   11998
1   2  defg   25   10665
2   3   ghs   36    9332
3   4  eeee   47    7999
4   5  wwww   58    6666

Adding a new column
   id  name  age  income category
0   1   abc   14   11998    Child
1   2  defg   25   10665    Adult
2   3   ghs   36    9332    Adult
3   4  eeee   47    7999    Adult
4   5  wwww   58    6666    Adult

Applying an eligibility criteria
[25, 36, 47, 58]

In [ ]:
'''The reduce(fun,seq) function is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.
This function is defined in “functools” module. The functools module is for higher-order functions: functions that act on or return other functions. 
In general, any callable object can be treated as a function for the purposes of this module.'''

import functools
functools.reduce(lambda a,b: a+b, df['income'])

46660

In [ ]:
values= [['Rohan',455],['Elvish',250],['Deepak',495],['Soni',400],['Radhika',350],['Vansh',450]]
df = pd.DataFrame(values,columns=['Name','Total_Marks'])
print(df)

print("\nFinding Percentage and assigning to a new column")
df = df.assign(Percentage = lambda x: (x['Total_Marks'] /500 * 100))
print(df)

      Name  Total_Marks
0    Rohan          455
1   Elvish          250
2   Deepak          495
3     Soni          400
4  Radhika          350
5    Vansh          450

Finding Percentage and assigning to a new column
      Name  Total_Marks  Percentage
0    Rohan          455        91.0
1   Elvish          250        50.0
2   Deepak          495        99.0
3     Soni          400        80.0
4  Radhika          350        70.0
5    Vansh          450        90.0

In [ ]:
values_list = [[15, 2.5, 100], [20, 4.5, 50], [25, 5.2, 80], [45, 5.8, 48], [40, 6.3, 70], [41, 6.4, 90], [51, 2.3, 111]]
df = pd.DataFrame(values_list, columns=['Field_1', 'Field_2', 'Field_3'],index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
print(df)

print("\nFinding product and assigning to a new column")
df = df.assign(Product=lambda x: (x['Field_1'] * x['Field_2'] * x['Field_3']))
print(df)

print("\nFinding sqaure and updating if name is d")
df = df.apply(lambda x: np.square(x) if x.name in ['a', 'e', 'g'] else x, axis=1)
print(df)

   Field_1  Field_2  Field_3
a       15      2.5      100
b       20      4.5       50
c       25      5.2       80
d       45      5.8       48
e       40      6.3       70
f       41      6.4       90
g       51      2.3      111

Finding product and assigning to a new column
   Field_1  Field_2  Field_3  Product
a       15      2.5      100   3750.0
b       20      4.5       50   4500.0
c       25      5.2       80  10400.0
d       45      5.8       48  12528.0
e       40      6.3       70  17640.0
f       41      6.4       90  23616.0
g       51      2.3      111  13020.3

Finding sqaure and updating if name is d
   Field_1  Field_2  Field_3       Product
a    225.0     6.25  10000.0  1.406250e+07
b     20.0     4.50     50.0  4.500000e+03
c     25.0     5.20     80.0  1.040000e+04
d     45.0     5.80     48.0  1.252800e+04
e   1600.0    39.69   4900.0  3.111696e+08
f     41.0     6.40     90.0  2.361600e+04
g   2601.0     5.29  12321.0  1.695282e+08