In [ ]:
import pandas as pd
import numpy as np

Series

In [ ]:
#Creating a Series from ndarray
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[11,12,13,14])
print(s,"\n")

#Creating a Series from Dictionary
data = {'a' : 0.23, 'b' : 1.65, 'c' : 2.38}
s = pd.Series(data)
print(s,"\n")

#Creating a Series from Scalar
s = pd.Series(5, index=[0, 1, 2, 3]) #Must give index
print(s)

11    a
12    b
13    c
14    d
dtype: object

a    0.23
b    1.65
c    2.38
dtype: float64

0    5
1    5
2    5
3    5
dtype: int64

In [ ]:
#Accessing data elements of a Series
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#Accessing Data from Series with Position
print(s[0],"\n") #retrieves the first element
print(s[:3],"\n") #retrieves the first three elements
print(s[-3:],"\n") #retrieves the last three elements

#Accessing Data Using Label (Index)
print(s['a'],"\n") #retrieves a single element
print(s[['a','c','d']]) #retrieves multiple elements

1

a    1
b    2
c    3
dtype: int64

c    3
d    4
e    5
dtype: int64

1

a    1
c    3
d    4
dtype: int64

In [ ]:
#Creating and printing a series with 5 random numbers
s = pd.Series(np.random.randn(5))
print(s)

#Printing the axes details
print("\nThe axes are:",s.axes)

#Checking whether object is empty
print("\nIs the Object empty?",s.empty)

#Checking the dimensions of the object
print("\nThe dimensions of the object:",s.ndim)

#Checking the size of the object
print("The size of the object:",s.size)

#Checking the values of the object
print("\nThe actual data series is:",s.values)

0   -0.624724
1    1.263379
2    0.654671
3   -0.100109
4    0.317713
dtype: float64

The axes are: [RangeIndex(start=0, stop=5, step=1)]

Is the Object empty? False

The dimensions of the object: 1
The size of the object: 5

The actual data series is: [-0.62472354  1.26337853  0.65467131 -0.10010938  0.31771301]

In [ ]:
#head() - Returns first n rows
print("The first two rows of the data series:")
print(s.head(2))

#tail() - Returns last n rows
print("\nThe last two rows of the data series:")
print(s.tail(2))

The first two rows of the data series:
0   -0.624724
1    1.263379
dtype: float64

The last two rows of the data series:
3   -0.100109
4    0.317713
dtype: float64

DataFrames

In [ ]:
#Creating a DataFrame from 1D List
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df,"\n")

#Creating a DataFrame from 2D List
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df,"\n")

#Creating a DataFrame from Dict of ndarrays / Lists
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print(df,"\n")

#Creating a DataFrame from List of Dicts
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [ ]:
#DataFrame with a list of dictionaries, row indices, and column indices

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print(df1,"\n")
print(df2,"\n")

#Create a DataFrame from Dictionary of Series with index

#Create a Dictionary of Series with index
d = {
  'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
  'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
  }

#Create a DataFrame
df = pd.DataFrame(d)
print(df)

        a   b
first   1   2
second  5  10

        a  b1
first   1 NaN
second  5 NaN

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [ ]:
#Column selection

print(df['two'],"\n")

#presence of NAN will convert int to float
print(df['one'],"\n")

#Selection by Label
print(df.loc['b'],"\n")

#Selection by integer location
print(df.iloc[2],"\n")

#Slice Rows using : operator
print(df[2:4])

a    1
b    2
c    3
d    4
Name: two, dtype: int64

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

one    2.0
two    2.0
Name: b, dtype: float64

one    3.0
two    3.0
Name: c, dtype: float64

   one  two
c  3.0    3
d  NaN    4

In [ ]:
#Column Addition

#Adding a new column to an existing DataFrame object with column label by passing new series
print("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df,"\n")

print("Adding a new column using the existing columns in DataFrame:")
df['four']=df['two']+df['three']
print(df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [ ]:
#Column Deletion

#Using del function
print("Deleting the first column using DEL function:")
del df['one']
print(df)

#Using pop function
print("\nDeleting another column using POP function:")
df.pop('three')
print(df)

Deleting the first column using DEL function:
   two  three  four
a    1   10.0  11.0
b    2   20.0  22.0
c    3   30.0  33.0
d    4    NaN   NaN

Deleting another column using POP function:
   two  four
a    1  11.0
b    2  22.0
c    3  33.0
d    4   NaN

In [ ]:
#Row Addition and Deletion

#Addition of Rows using append
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
print(df)
print("after appending")
df = df.append(df2)
print(df)

#Deletion of Rows using drop
# Drop rows with label 0
df = df.drop(0)
print(df)

   a  b
0  1  2
1  3  4
after appending
   a  b
0  1  2
1  3  4
0  5  6
1  7  8
   a  b
1  3  4
1  7  8

In [ ]:
#Creating a DataFrame from a Dictionary of Series

#Create a Dictionary of series
d = {
  'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
  'Age':pd.Series([25,26,25,23,30,29,23]),
  'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])
  }

#Create a DataFrame
df = pd.DataFrame(d)
print("Our data series is:\n")
print(df)

Our data series is:

    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

In [ ]:
#All Series operations can be performed on DataFrame too

#Transposing the DataFrame
print("The transpose of the data series is:")
print(df.T)

#Checking the datatypes of each column
print("\nThe data types of each column are:")
print(df.dtypes)

#Checking the shape of the object
print("\nThe shape of the object is:")
print(df.shape)

#Checking total no. of elements/size
print("\nThe total number of elements in our object is:")
print(df.size)

The transpose of the data series is:
           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

The data types of each column are:
Name       object
Age         int64
Rating    float64
dtype: object

The shape of the object is:
(7, 3)

The total number of elements in our object is:
21

Panel (PANel DAtaS : PANDAS)

In [ ]:
#Panel Creation

#From 3D ndarray
data = np.random.rand(2,4,5)
p = pd.Panel(data)
print(p,"\n")

#From Dictionary of DataFrame Objects
data = {
  'Item1' : pd.DataFrame(np.random.randn(4, 3)), 
  'Item2' : pd.DataFrame(np.random.randn(4, 2))
  }
p = pd.Panel(data)
print(p,"\n")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  """

TypeError: ignored